/* Headings */

.heading, .subpage-heading {
    text-align: center;
}

.subpage-heading {
    margin: 32px 0;
}

/* Buttons */

.button {
    margin: 32px;
    padding: 16px;
    background-color: darkcyan;
    color: whitesmoke;
    border: none;
}

.start-button {
    width: 80vw;
}

.login-button {
    width: 80vw;
}

/* Menu */

.menu {
    list-style-type: none;
    display: flex;
    justify-content: center;
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: darkcyan;
}

.menu-item {
    margin: 16px;
    padding: 16px;
    color: whitesmoke;
}

/* Components */

.start, .login, .signup {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    height: calc(100vh - 50px);
}


.password-input {
    display: flex;
    flex-direction: column;
}

.password-tooltip {
    font-size: 0.75rem;
    font-weight: bold;
    align-self: flex-end;
    margin-right: 16px;
}

.form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.input {
    width: 80vw;
    margin: 8px;
    padding: 16px;
    background-color: whitesmoke;
    color: darkslategray;
    border: none;
}

#apple-icon, #google-icon, #facebook-icon {
    margin: 0 16px;
    font-size: 24px;
    padding: 16px;
    background-color: whitesmoke;
}

.social-media-login {
    display: flex;
    justify-content: space-around;
}

.break {
    background-color: whitesmoke;
    height: 5px;
    width: 100vw;
    margin: 32px 0;
}

.footer-text {
    font-weight: bold;
}

.checkbox-label {
    display: flex;
    justify-content: flex-start;
}
