/* SASS installation needed */

* {
    /* Reset */

    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    /* Colour palette needed */

    font-family: sans-serif;
}

.App {
    /* Center */

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    /* Fullscreen */

    width: 100vw;
    height: calc(100vh - 50px);
}

/* Headings */

.heading, .subpage-heading {
    text-align: center;
}

.subpage-heading {
    margin: 32px 0;
}

/* Buttons */

.button {
    margin: 32px;
    padding: 16px;
    background-color: darkcyan;
    color: whitesmoke;
    border: none;
}

.start-button {
    width: 80vw;
}

.login-button {
    width: 80vw;
}

/* Menu */

.menu {
    list-style-type: none;
    display: flex;
    justify-content: center;
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: darkcyan;
}

.menu-item {
    margin: 16px;
    padding: 16px;
    color: whitesmoke;
}

/* Link */

.link {
    text-decoration: none;
}

/* Components */

.start, .login {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    height: calc(100vh - 50px);
}

.quote {
    text-align: center;
    max-width: 80vw;
}

.password-tooltip {
    font-size: 0.75rem;
    font-weight: bold;
}

.form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.input {
    width: 80vw;
    margin: 8px;
    padding: 16px;
    background-color: whitesmoke;
    color: darkslategray;
    border: none;
}
