* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  font-family: sans-serif;
}

.App {
  width: 100vw;
  height: calc(100vh - 50px);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.link {
  text-decoration: none;
  color: inherit;
}

.quote {
  text-align: center;
  max-width: 80vw;
}

.heading, .subpage-heading {
  /* Correct logic */
  text-align: center;
}

.subpage-heading {
  margin: 32px 0;
}

.button {
  margin: 32px;
  padding: 16px;
  background-color: #3f37c9;
  color: #ffffff;
  border: none;
}

.start-button, .login-button {
  /* Correct logic */
  width: 80vw;
}

.menu {
  list-style-type: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: #3f37c9;
}

.menu-item {
  margin: 16px;
  padding: 16px;
  color: #ffffff;
}

.start, .login, .signup {
  width: 100vw;
  height: calc(100vh - 50px);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.password-input {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.password-tooltip {
  font-size: 12px;
  font-weight: bold;
  -ms-flex-item-align: end;
      align-self: flex-end;
  margin-right: 16px;
}

.form {
  /* Correct logic */
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.input {
  /* Correct logic */
  width: 80vw;
  margin: 8px;
  padding: 16px;
  background-color: #ffffff;
  color: #0b090a;
  border: none;
}

#apple-icon, #google-icon, #facebook-icon {
  margin: 0 16px;
  font-size: 24px;
  padding: 16px;
  background-color: #ffffff;
}

.social-media-login {
  /* Correct logic */
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.break {
  background-color: #ffffff;
  height: 5px;
  width: 100vw;
  margin: 32px 0;
}

.footer-text {
  font-weight: bold;
}

.checkbox-label {
  /* Correct logic */
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 80vw;
}

.checkbox-container {
  /* Correct logic */
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.checkbox-label {
  white-space: nowrap;
}
/*# sourceMappingURL=styles.css.map */
