// Global selectors:
    
@import ../utils/modules

*
    @include reset-defaults

html
    font-family: 'Roboto', sans-serif 
    font-size: $base 
    font-weight: $normal

// Utility selectors:

.link
    @include use-hypertext
    font-weight: $bold

.break 
    @include break($size: big) 

.subject-tile-break
    @include break($size: small)  

// Heading selectors:

.heading
    @include heading($role: primary)

.subpage-heading 
    @include heading($role: secondary)

.greeting
    font-size: $base * 2.25

.subjects-heading 
    @include heading($role: subject) 

// Button selectors:

.button 
    @include button
    @include be-clickable

.start-button, .login-button 
    width: $wide

.start-button
    position: relative
    top: $base * 3

// Menu selectors:

.menu 
    list-style-type: none
    display: flex
    justify-content: space-around
    position: fixed
    bottom: 0
    width: 100%
    background-color: $dark-blue

.menu-item 
    padding: $base
    color: $white 

// Pages selectors:

.start, .login, .signup
    @include display-fullscreen
    display: flex
    flex-direction: column
    align-items: center
    justify-content: space-evenly

.zbieranina, .terms-of-use, .privacy-policy, .settings, .not-found, .password-recovery, .planer
    display: flex
    flex-direction: column 
    align-items: center
    overflow: hidden
    margin-bottom: $base * 6

.quote
    text-align: center
    max-width: $wide

// Zbieranina selectors:

.subject-tiles
    display: flex
    align-self: flex-start
    margin-left: $base * 1.5
    flex-wrap: nowrap
    margin-bottom: $base * 1.25
    overflow: auto

.subject-tile
    border: 1px solid $black
    border-radius: $base * 5/8
    background: $light-blue
    margin: 0 $base * 5/8
    width: 150px
    display: flex
    flex-direction: column

.subject-image
    border-top-left-radius: $base * 5/8
    border-top-right-radius: $base * 5/8

.subject-name
    text-align: center
    font-size: $base * 1.25
    font-weight: $semi-bold
    margin: $base * 0.75 $base * 2
    display: block

.last-lessons
    background: $light-blue
    width: $wide
    border-radius: $base * 3/4
    display: flex
    align-items: center
    margin: $base * 0.5

.lesson-image
    border-top-left-radius: $base * 5/8
    border-bottom-left-radius: $base * 5/8

.lesson-name
    margin: $base * 1.25
    font-weight: $semi-bold

.browser 
    @include display-fullscreen
    @include center-absolute
    z-index: 5
    display: none
    border-top: 10vh solid $white
    border-bottom: 10vh solid $white
    border-left: 5vw solid $white
    border-right: 5vw solid $white 

// Form selectors:

.form, .confirmation
    @include center-vertically

.password-tooltip 
    font-size: $base * 0.75
    align-self: flex-end
    margin-right: $base
    @include be-clickable

.checkbox-container
    margin: $base * 1.5
    line-height: 150%
    text-align: center

.checkbox
    margin: $base * 0.5
    
.checkbox-label
    @include be-clickable

.help-message
    text-align: center

// Input selectors:

.input 
    width: $wide
    margin: $base * 0.5
    padding: $base
    background-color: $white
    color: $black
    border: 1px solid $black
    @include be-clickable

.password-input 
    display: flex
    flex-direction: column

.search-bar 
    border-radius: $base
    padding: $base * .75
    width: $wide
    border: none
    background: $light-blue
    margin-bottom: $base * 2

// Social media login selectors:

.social-media
    margin: 0 $base
    font-size: $base * 1.5
    padding: $base
    background-color: $white
    @include be-clickable

    &:hover
        cursor: pointer

.social-media-login 
    display: flex
    justify-content: center
