// Sizing units: 
    
$wide: 80vw
$base: 16px
$rounded-image: $base * 5/8

$normal: 400
$semi-bold: 500
$bold: 700

// Colours 

$red: #f2542d
$orange: #ffbe0b
$yellow: #ffd000
$light-blue: #a2d2ff
$dark-blue: #3f37c9
$white: #ffffff
$black: #0b090a

// Utilities:

@mixin reset-defaults
    padding: 0
    margin: 0
    box-sizing: border-box

@mixin be-clickable 
    min-height: 48px
    min-width: 48px

@mixin use-hypertext
    text-decoration: none
    color: inherit
    @include be-clickable

// Layout:

@mixin display-fullscreen
    width: 100vw
    height: 100vh

@mixin center-both-axes
    display: flex
    flex-direction: column
    align-items: center
    justify-content: center

@mixin center-vertically
    display: flex
    flex-direction: column
    align-items: center

@mixin center-absolute
    position: absolute
    top: 50%
    left: 50%
    transform: translate(-50%, -50%)

// Components: 

@mixin heading($role)
    max-width: $wide 

    @if $role == primary
        font-size: $base * 3

    @else if $role == secondary
        font-size: $base * 1.5
        margin: $base * 2 0

    @else if $role == tertiary
        font-size: $base
        align-self: flex-start
        margin: $base * 0.5 0 $base * 0.5 $base * 2.25

@mixin button
    margin: $base * 2
    padding: $base
    background-color: $black
    color: $white
    border: none

@mixin break ($size)
    background-color: $black
    border: none
    height: 1px
    width 100%

    @if $size == big
        margin: $base * 2.5 0  $base * 1.5 0

    @else if $size == small
        margin: 3px 
